@font-face {
	font-family: 'HelveticaNeue';
	src: url('./assets/fonts/helvetica/HelveticaNeue.eot');
	src: url('./assets/fonts/helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/helvetica/HelveticaNeue.woff') format('woff'),
	url('./assets/fonts/helvetica/HelveticaNeue.woff2') format('woff2'),
	url('./assets/fonts/helvetica/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Thin';
	src: url('./assets/fonts/helvetica/HelveticaNeue-Thin.eot');
	src: url('./assets/fonts/helvetica/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/helvetica/HelveticaNeue-Thin.woff') format('woff'),
	url('./assets/fonts/helvetica/HelveticaNeue-Thin.woff2') format('woff2'),
	url('./assets/fonts/helvetica/HelveticaNeue-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/roboto/Roboto-Regular.eot');
	src: url('./assets/fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
	url('./assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
	url('./assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Bold';
	src: url('./assets/fonts/roboto/Roboto-Bold.eot');
	src: url('./assets/fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
	url('./assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
	url('./assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}